body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;

  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }

  span {
    font-weight: 600;
    font-size: 14px;
    color: #5C5C5C;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.search-block {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
  .clear{
    position: absolute;
    width: 25px;
    margin-left: 180px;
    margin-top: 11px;
    
  }

}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 385px;
  right: 0;
  height: 100%;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }


  h2 {
    margin-bottom: 30px;

  }
}

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #DFDFDF;
        position: relative;
        top: -1px;
        margin: 0 7px;
      }
    }

  }

  .greenButton {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: lighten(#9dd558, 5%);
    }

    &:active {
      background: darken(#9dd558, 5%);
    }
  }

  .greenButton {
    position: relative;
    &:hover{
      img{
        transform: translate(5px);
      }
    }
    
    img {
      position: absolute;
      right: 30px;
      top: 21px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.cartItem {
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 60px;
    width: 150px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 5px;
  }

  p {
    font-size: 14px;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

}